In [ ]:
import pandas as pd
import numpy as np

# Game 1

In [ ]:
np.random.randint(low = 40,high = 100,size = (10,3))

array([[61, 44, 81],
       [85, 63, 66],
       [48, 83, 97],
       [40, 79, 74],
       [98, 65, 86],
       [56, 51, 74],
       [51, 89, 75],
       [47, 69, 46],
       [83, 44, 56],
       [49, 89, 75]])

In [ ]:
# Organize the data as a list of lists
data = np.random.randint(low = 40,high = 100,size = (10,3))

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Optionally, set column names if you have them
# df.columns = ['Column1', 'Column2', 'Column3']

# Display the DataFrame
print(df)

    0   1   2
0  55  97  64
1  65  97  92
2  70  64  61
3  64  72  44
4  92  74  62
5  95  84  86
6  96  87  90
7  68  54  70
8  48  79  95
9  59  66  96

In [ ]:
maxi = df.max(axis=1)

In [ ]:
am = maxi+1

In [ ]:
np.log10(am)

0    1.908485
1    1.838849
2    1.792392
3    1.977724
4    1.977724
5    1.968483
6    1.934498
7    1.991226
8    1.949390
9    1.812913
dtype: float64

In [ ]:
df.idxmax(axis=1)

0    1
1    0
2    0
3    2
4    2
5    2
6    2
7    2
8    0
9    1
dtype: int64

In [ ]:
maxi

0    80
1    68
2    61
3    94
4    94
5    92
6    85
7    97
8    88
9    64
dtype: int64

In [ ]:
maxi[maxi == maxi.max()]

7    97
dtype: int64

In [ ]:
bol = df.apply(lambda row: row.idxmax(), axis=1)

In [ ]:
df.apply(lambda row: row.idxmax(), axis=1).apply(lambda x: x if df.apply(lambda row: row == row.max(), axis=1)[x].sum() == 1 else None)

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [ ]:
column_counts = {}

# Iterate through the rows
for row in data:
    max_index = np.argmax(row)  # Find the column index with the maximum value

    # Increment the count for the maximum column index
    if max_index in column_counts:
        column_counts[max_index] += 1
    else:
        column_counts[max_index] = 1

# Find the maximum count and corresponding column index
max_count = max(column_counts.values())
max_columns = [index for index, count in column_counts.items() if count == max_count]

print(f"The maximum column index with the highest value occurred {max_count} times.")
print(f"The column index(es) with the maximum count: {max_columns}")

The maximum column index with the highest value occurred 5 times.
The column index(es) with the maximum count: [2]

In [ ]:
bid = df[max_columns]
bid[max_columns]

    2
0  62
1  41
2  55
3  94
4  94
5  92
6  85
7  97
8  56
9  61

In [ ]:
 ans = (bid[max_columns] - np.log10(maxi + 1))/10

In [ ]:
ans[max_columns].sum()

2    71.907608
dtype: float64

### Full total code

In [ ]:
data = np.random.randint(low = 40,high = 100,size = (10,3))

# Create a Pandas DataFrame
df = pd.DataFrame(data)
maxi = df.max(axis=1)
column_counts = {}

# Iterate through the rows
for row in data:
    max_index = np.argmax(row)  # Find the column index with the maximum value

    # Increment the count for the maximum column index
    if max_index in column_counts:
        column_counts[max_index] += 1
    else:
        column_counts[max_index] = 1
bol = df.apply(lambda row: row.idxmax(), axis=1)
# Find the maximum count and corresponding column index
max_count = max(column_counts.values())
max_columns = [index for index, count in column_counts.items() if count == max_count]
bid = df[max_columns]
ans = (bid[max_columns] - np.log10(maxi + 1))/10
ans[max_columns].sum()

2    71.907608
dtype: float64

# For Game 2

In [ ]:
data = np.random.randint(low = 40,high = 100,size = (10,3))

df = pd.DataFrame(data)
bol = df.apply(lambda row: row.idxmax(), axis=1)
# Define a function to find the second highest value in a row
def second_highest(row):
    row_sorted = sorted(row, reverse=True)
    return row_sorted[1] if len(row_sorted) >= 2 else None
df = pd.DataFrame(data)
maxi = df.max(axis=1)
column_counts = {}

# Iterate through the rows
for row in data:
    max_index = np.argmax(row)  # Find the column index with the maximum value

    # Increment the count for the maximum column index
    if max_index in column_counts:
        column_counts[max_index] += 1
    else:
        column_counts[max_index] = 1
bol = df.apply(lambda row: row.idxmax(), axis=1)
# Find the maximum count and corresponding column index
max_count = max(column_counts.values())
max_columns = [index for index, count in column_counts.items() if count == max_count]
# Apply the function to each row in the DataFrame
df['s'] = df.apply(second_highest, axis=1)

# Display the DataFrame with the second highest values
print(df)

    0   1   2   s
0  69  49  52  52
1  58  68  99  68
2  91  47  55  55
3  79  52  65  65
4  87  55  77  77
5  81  41  88  81
6  59  76  66  66
7  54  48  41  48
8  42  95  52  52
9  80  87  96  87

In [ ]:
bol

0    0
1    2
2    0
3    0
4    0
5    2
6    1
7    0
8    1
9    2
dtype: int64

In [ ]:
df['bool'] = bol

In [ ]:
df

    0   1   2   s  bool
0  69  49  52  52     0
1  58  68  99  68     2
2  91  47  55  55     0
3  79  52  65  65     0
4  87  55  77  77     0
5  81  41  88  81     2
6  59  76  66  66     1
7  54  48  41  48     0
8  42  95  52  52     1
9  80  87  96  87     2

In [ ]:
a = max_columns[0]
a

0

In [ ]:
ex= df[df['bool'] == a]

In [ ]:
second_l = ex['s']
second_l

0    52
2    55
3    65
4    77
7    48
Name: s, dtype: int64

In [ ]:
sqrt = np.sqrt(second_l)

In [ ]:
rms_value = np.sqrt(np.mean(sqrt**2))
n= 10

In [ ]:
rms_value*(n-1)

69.36425592479169